@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Welcome to Help Section</h3>
<p>
    Follow these instructions to create an account

    <ol>
        <li><a asp-controller="Security" asp-action="Register">Create an account</a></li>
        <li><a asp-controller="Security" asp-action="SignIn">Sign In</a></li>
        <li><a asp-controller="EmployeeManager" asp-action="List">Perform CRUD</a></li>
        <li>Remember to create your password in this format (Abcdef@19) and should be more that 8 characters</li>
    </ol>
</p>